# Ensemble Learning

## Initial Imports

In [72]:
import warnings
warnings.filterwarnings('ignore')

In [73]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [74]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

## Read the CSV and Perform Basic Data Cleaning

In [75]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [76]:
# Create our features

X = pd.get_dummies(df.drop(columns="loan_status"), columns=["home_ownership", "pymnt_plan", "verification_status", "issue_d", "next_pymnt_d", "initial_list_status", "application_type", "hardship_flag", "debt_settlement_flag"]).copy()

# Create our target
y = df["loan_status"]

In [77]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Jan-2019,issue_d_Mar-2019,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.451066,0.177238,0.383161,0.616839,0.123879,0.876121,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.497603,0.381873,0.486161,0.486161,0.329446,0.329446,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [78]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [79]:
# Split the X and y into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [80]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [81]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [82]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data.
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [83]:
# Resample the training data with the BalancedRandomForestClassifier

from imblearn.ensemble import BalancedRandomForestClassifier

rf_model = BalancedRandomForestClassifier(n_estimators=500, random_state=78)
rf_model = rf_model.fit(X_train_scaled, y_train)
predictions = rf_model.predict(X_test_scaled)

In [84]:
# Calculated the balanced accuracy score
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = balanced_accuracy_score(y_test, predictions)
print(f"Balanced Accuracy Score : {acc_score}")

Balanced Accuracy Score : 0.7874905678114019

In [85]:
# Display the confusion matrix
display(cm_df)

          Predicted 0  Predicted 1
Actual 0           60           32
Actual 1         1321        15792

In [86]:
# Print the imbalanced classification report

print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.04      0.65      0.92      0.08      0.78      0.59        92
   low_risk       1.00      0.92      0.65      0.96      0.78      0.62     17113

avg / total       0.99      0.92      0.65      0.95      0.78      0.62     17205

In [87]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.07530479600108896, 'total_rec_prncp'),
 (0.06591216887843551, 'total_pymnt_inv'),
 (0.06499474542613407, 'last_pymnt_amnt'),
 (0.055863432933374195, 'total_pymnt'),
 (0.05105499750128443, 'total_rec_int'),
 (0.027609040913015095, 'int_rate'),
 (0.02212259032533277, 'issue_d_Jan-2019'),
 (0.01803491342822946, 'dti'),
 (0.01730652230910143, 'mo_sin_old_rev_tl_op'),
 (0.016498530339623528, 'installment'),
 (0.01578508930382635, 'max_bal_bc'),
 (0.015253546482418034, 'bc_util'),
 (0.015253319318520846, 'out_prncp'),
 (0.014872524225263565, 'out_prncp_inv'),
 (0.014858618197288665, 'total_bc_limit'),
 (0.01477886464003213, 'mo_sin_old_il_acct'),
 (0.014479812119742844, 'annual_inc'),
 (0.014443032181713082, 'mths_since_recent_inq'),
 (0.013903292394866878, 'avg_cur_bal'),
 (0.013842123578512807, 'revol_bal'),
 (0.013564550422726087, 'total_il_high_credit_limit'),
 (0.013522343049224847, 'bc_open_to_buy'),
 (0.013403484843549201, 'il_util'),
 (0.012749026934825249, 'tot_hi_cred_lim'),
 (0.012384406125286483, 'total_rev_hi_lim'),
 (0.012263815405479023, 'total_bal_il'),
 (0.012205848976632018, 'total_bal_ex_mort'),
 (0.012141525005472623, 'tot_cur_bal'),
 (0.01155708787824985, 'issue_d_Mar-2019'),
 (0.011527311570376095, 'mths_since_recent_bc'),
 (0.011404842642409218, 'mths_since_rcnt_il'),
 (0.010927126014662485, 'total_acc'),
 (0.01074265356333612, 'mo_sin_rcnt_rev_tl_op'),
 (0.010558879053240204, 'all_util'),
 (0.01053751656146464, 'loan_amnt'),
 (0.010491344334653978, 'mo_sin_rcnt_tl'),
 (0.01047646261693187, 'num_rev_accts'),
 (0.010366154184384729, 'total_rec_late_fee'),
 (0.010195845208433136, 'num_il_tl'),
 (0.010116306895366977, 'inq_last_6mths'),
 (0.009727017405673668, 'open_acc'),
 (0.009135279984426802, 'num_rev_tl_bal_gt_0'),
 (0.008766621786324768, 'num_sats'),
 (0.008648629491189318, 'num_actv_rev_tl'),
 (0.00839896963546507, 'inq_last_12m'),
 (0.008248719588493396, 'num_op_rev_tl'),
 (0.00819449593584194, 'num_bc_tl'),
 (0.008073082712491339, 'num_bc_sats'),
 (0.008001964398764086, 'acc_open_past_24mths'),
 (0.007854605666744353, 'pct_tl_nvr_dlq'),
 (0.007678754634812116, 'inq_fi'),
 (0.007248978905359913, 'num_tl_op_past_12m'),
 (0.007175559408323931, 'num_actv_bc_tl'),
 (0.006956417912276351, 'mort_acc'),
 (0.006734695863847777, 'open_act_il'),
 (0.006623594707858211, 'total_cu_tl'),
 (0.006328046417418009, 'open_il_24m'),
 (0.006140212819795524, 'percent_bc_gt_75'),
 (0.005996729982813772, 'open_rv_24m'),
 (0.005841126735291459, 'issue_d_Feb-2019'),
 (0.005234637823681266, 'open_acc_6m'),
 (0.004926047475612821, 'next_pymnt_d_May-2019'),
 (0.004546102066573789, 'open_rv_12m'),
 (0.004523076190326669, 'delinq_2yrs'),
 (0.004415979765817483, 'next_pymnt_d_Apr-2019'),
 (0.003951309806593844, 'tot_coll_amt'),
 (0.0034006987055981816, 'num_accts_ever_120_pd'),
 (0.0032316119905493428, 'open_il_12m'),
 (0.0023993417991808935, 'verification_status_Verified'),
 (0.001857407776098907, 'verification_status_Source Verified'),
 (0.0017587012367643294, 'verification_status_Not Verified'),
 (0.0016565491374699339, 'home_ownership_RENT'),
 (0.0015087194493847442, 'pub_rec_bankruptcies'),
 (0.0014823200670769972, 'pub_rec'),
 (0.0014464517598095702, 'home_ownership_OWN'),
 (0.001379907727415533, 'home_ownership_MORTGAGE'),
 (0.0013798974259446144, 'application_type_Individual'),
 (0.0013158329736310682, 'initial_list_status_f'),
 (0.0013136185655185852, 'application_type_Joint App'),
 (0.001264017257406868, 'initial_list_status_w'),
 (0.001009448510346068, 'num_tl_90g_dpd_24m'),
 (0.00046330914013010226, 'collections_12_mths_ex_med'),
 (0.0002813349312021518, 'home_ownership_ANY'),
 (0.000171682640145152, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [ ]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier

eec_model = EasyEnsembleClassifier(n_estimators=500, random_state=78)
eec_model = eec_model.fit(X_train_scaled, y_train)
predictions = eec_model.predict(X_test_scaled)

In [ ]:
# Calculated the balanced accuracy score
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = balanced_accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

In [ ]:
# Display the confusion matrix
display(cm_df)

In [ ]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

### Final Questions

1. Which model had the best balanced accuracy score?

    YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.

4. What are the top three features?

    YOUR ANSWER HERE.